<!--- Extends the base html file --->
{% extends "base.html" %}

<!--- Content --->
{% block content %}
<style>
    #image {display: flex; justify-content: center; padding: 30px;}
    #buttons {display: flex; justify-content: center; padding-left: 20px;}
    #button {margin: 0 20px;}
</style>

    <div id="image">
        <img src="https://i.ibb.co/HVFS029/frankie.jpg" alt="frankie" border="0"></a>
    </div>
    <div id="buttons">
        <input type="file" id="button" name="myfile" text></input>
        <button id="button">
            View Results
        </button>
        <button id="button">
            Clear Image
        </button>
    </div>

{% endblock %}

