<!--- Written by Paul Wojcik-->
<!doctype html>
<html lang="en">
<!--- Head --->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<style>
    #time {display: flex; justify-content: flex-end}
    #title {display: flex; justify-content: center}
    #divider {border:0; border-top: 10px solid brown; padding-bottom: 25px;}
    #infobox {display: flex; justify-content: center; border: 1px solid brown; padding: 10px}
</style>
<!--- Body --->
<body>
    <div id="time"> <!--- Date --->
        <h3>{{date}}</h3>
    </div>
    <div id="time"> <!--- Time --->
        <h4>{{time}}</h4>
    </div>
    <h1 id="title">CMSC 495</h1>
    <h1 id="title">Team: Paul, Nelson, Nikhil, Andrew, Jack</h1>
    <div id="divider"> </div>
    <div id="infobox"> Welcome to the Neural Network Evaluator!</div>
    {% block content %} <!--- content --->
    {% endblock%}
</body>
</html>
