<!--- Written by Paul Wojcik and Jack Boswell--->
<!--- Extends the base html file --->
{% extends "base.html" %}

<!--- Content --->
{% block content %}
<style>
    #imagediv {display: flex; justify-content: center; padding: 30px;}
    #image {max-height:500px; width:auto; }
    #buttons {display: flex; justify-content: center; padding-left: 20px;}
    #button {margin: 0 20px;}
</style>

    <div id="imagediv">
        <img id = "image" src="{{image}}">
    </div>
    <div id="buttons">
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*"/>
            <input type="submit" value="Upload" disabled />
            <input type="submit" id="process-button" value="Process" formaction="{{ url_for('return_results') }}"/>
            <input type="button" value="Clear Image" onclick=location.href="{{ url_for('clear_image') }}" />
        </form>
    </div>
    <script>
        function stringToBool(str) {
            return str.toLowerCase() === "true";
        }

        function validateProcessButton() {
            var processButton = document.getElementById("process-button");
            var imageUploaded = stringToBool("{{ image_uploaded }}");
            processButton.disabled = !imageUploaded;
        }

        function handleFileInputChange(event) {
            const value = event.target.value;
            const submitButton = document.querySelector("input[value=Upload]");
            submitButton.disabled = !value;
        }

        const fileInput = document.querySelector("input[type=file]");
        fileInput.addEventListener("change", handleFileInputChange)
        
        validateProcessButton();
    </script>

{% endblock %}

